[Unit]
Description=mesos-master
After=network.target

[Service]
ExecStart=/opt/mesos/mesos.sh.in --work_dir=/var/lib/mesos/master
Type=simple

[Install]
WantedBy=multi-user.target
